<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Popovers</title>
</head>
<body>
<link href="../resources/css/bootstrap.min.css" rel="stylesheet">
<link href="../resources/fontawesome/css/all.css" rel="stylesheet">
<link href="../public/assets/cssDemo/dashboard.css" rel="stylesheet">

<script src="../resources/js/bootstrap.bundle.js"></script>
</body>
</html>